@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #91c4c3;
  --color-secondary: #80a1ba;
  --color-accent: #b4debd;
  --color-base-200: gray;
  --color-base-300: #2d2d2d;
}

@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";
